# Build artifacts ROS2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Divers
*.pyc
__pycache__/
.DS_Store

# Clones perso des tutoriels ROS2 (pas partie de la soumission)
ros2_ws/src/examples/
ros2_ws/src/ros_tutorials/
